<div class="container-fulid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid" >
          <a class="navbar-brand" href="#" id="logoIcon">Free-shopping</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto" role="search" id="search">
              <input class="form-control me-2" type="search" placeholder="Search for products, Brand and More" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navlink">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i>
                  Login
                </a>
                <ul class="dropdown-menu" aria-labelledby="homeFurnitureDropdown">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="float-start ps-3" id="newCustomer">
                        <p>New customer?</p>
                      </div>
                      <div class="float-end pe-3" id="newCustomer">
                        <a routerLink="">Sign Up</a>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-person-circle pe-2"></i> My profile</a></li>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-border-style pe-2"></i>Orders</a></li>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-heart pe-2"></i>Whitelist</a></li>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-gift-fill pe-2"></i>Rewards</a></li>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-credit-card-2-back pe-2"></i>Gift Card</a></li>
              </ul>
              </li>
              <li class="nav-item pe-2">
                <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-cart"></i> Cart</a>
              </li>
              <li class="nav-item pe-2">
                <a class="nav-link active" aria-current="page" href="#">Become a Seller</a>
              </li>
              <li class="nav-item pe-5">
                <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-three-dots-vertical"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
